<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
	<connectionStrings>
        <add name="myDatabaseConnection" connectionString="server=10.0.0.51;user=ndtuser;database=ndt_db;port=3306;password=NDTuser@1234;SSL Mode=None"/>
	</connectionStrings>

</configuration>
